*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: gold;
}
nav{
    background-color: black;
    padding: 5px 100px;
    width: 80%;
    margin: auto;
}

img{
    width: 40px;
    opacity: 1;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}
#List{
    color: gainsboro;
    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
    list-style:none;
    font-family: 'poppins';    
    font-size: 20px;
}

/* #List li:hover{
    opacity: 0.8;
    background-color: chartreuse;
    color: black;
    cursor: pointer;
} */